<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Area</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body background="~/Content/bar1.jpg";
      style="background-repeat:no-repeat;
      background-size:100% 100%;    
      background-attachment: fixed;"
      >
    <div class="navbar navbar-inverse navbar-fixed-topcancel" style="background-color:darkgoldenrod;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/admin/dashboard" class="navbar-brand" style="color:black">Admin Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/pages" style="color:black;font-style:italic">Pages</a></li>
                    <li><a href="/admin/pages/EditSidebar"style="color:black;font-style:italic">Sidebar</a></li>
                    <li><a href="/admin/shop/Categories" style="color:black;font-style:italic">Categories</a></li>
                    <li><a href="/admin/shop/Products" style="color:black;font-style:italic">Products</a></li>
                    <li><a href="/admin/shop/Orders" style="color:black;font-style:italic">Orders</a></li>
                </ul>
                <ul class="navbar-right">
                    <li><a href="/" class="navbar-brand" target="_blank" style="color:black;font-style:italic">BYEM Pub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
